
body{
    min-height: 100vh;
    margin: 0;
    background-color: #1A2831;
}
header{
    .boximg{
        height: 220px;
        width: 100%;
        background-image: url(../img/header.png);
        background-size: cover;
        background-position: center;
    }
}
<<<<<<< HEAD
@media screen and (max-width: 899px){
    .canvasbox{
        background-position: center;
        canvas{
            display: none;
            
        }
=======
.canvasbox{
    background-image: url(../img/background.svg);
    background-position: center;
}
.logo{
    width: 100px;
    min-width: 100px;
    height: 600px;
    background-image: url(../img/background.svg);
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    div{
        height: 200px;
        padding-top: 10px;
        padding-left: 3px;
    }
}
@media screen and (max-width: 899px){
    .canvasbox{
        background-position: center;
        
>>>>>>> michael
    }
    header{
        display: none;
    }
    
}

@media screen and (max-width: 1379px) {
    .container{
        height: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
        display: flex;
        justify-content: center;
        .info1{
            width: 0;
        }
        .canvasbox{
<<<<<<< HEAD
            background-image: url(../img/background.svg);
=======
            
>>>>>>> michael
            width: 360px;
            min-width: 360px;
            display: flex;
            justify-content: flex-end;
<<<<<<< HEAD
            canvas{
                border-left: 10px solid white;
                
            }
=======
            
>>>>>>> michael
        
        }
        .info2{
            width: 0;
        }
         
    
    }
  }

<<<<<<< HEAD

@media screen and (min-width: 1380px) {
 

=======

@media screen and (min-width: 1380px) {
 

>>>>>>> michael
    .container{
        height: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
        display: flex;
        justify-content: center;
        .info1{
            height: 600px;
            width: 250px;
        }
        .fr-info-L{
            background-image: url(../img/test404-LEFT-FR.svg);
        }
        .nl-info-L{
            background-image: "";
        }
        .nl-info-L{
            background-image: "";
        }
        .canvasbox{
<<<<<<< HEAD
            background-image: url(../img/background.svg);
            background-position: center;
=======
            
>>>>>>> michael
            width: 360px;
            min-width: 360px;
            display: flex;
            justify-content: flex-end;
<<<<<<< HEAD
            border-left: 5px solid white;
=======
            
>>>>>>> michael
            
        
        }
        .info2{
            height: 600px;
            width: 250px;
            
        }
        .fr-info-R{
            background-image: url(../img/test404-RIGHT-FR.svg);
        }
        .nl-info-R{
            background-image: "";
        }
        .en-info-R{
            background-image: "";
        }
         
<<<<<<< HEAD
        .logo{
            width: 100px;
            height: 600px;
            background-image: url(../img/background.svg);
            background-position: center;
        }
=======
        
>>>>>>> michael
    }
}


