body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-color: #1A2831;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif; }

header .boximg {
  height: 180px;
  width: 100%;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center; }

.container {
  height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.title404 {
  width: 100%;
  color: white;
  text-align: center; }
  .title404 h1 {
    font-family: "mywriting"; }

.canvasbox canvas {
  background-image: url(../img/background.svg);
  background-position: center;
  min-width: 360px; }

.logo {
  width: 100px;
  min-width: 100px;
  height: 600px;
  background-image: url(../img/background.svg);
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-right: 5px; }
  .logo div {
    height: 200px;
    padding-top: 10px;
    padding-left: 3px; }

.info1 {
  height: 600px;
  width: 250px; }

.fr-info-L {
  background-image: url(../img/test404-LEFT-FR.svg); }

.nl-info-L {
  background-image: url(../img/test404-LEFT-NL.svg); }

.en-info-L {
  background-image: url(../img/test404-LEFT-EN.svg); }

.info2 {
  height: 600px;
  width: 250px; }

.fr-info-R {
  background-image: url(../img/test404-RIGHT-FR.svg); }

.nl-info-R {
  background-image: url(../img/test404-RIGHT-NL.svg); }

.en-info-R {
  background-image: url(../img/test404-RIGHT-EN.svg); }

.changeLanguage {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center; }
  .changeLanguage li {
    margin-right: 20px; }
    .changeLanguage li a {
      text-decoration: none;
      color: white; }

@media screen and (max-width: 960px) {
  .canvasbox {
    background-position: center; }
  header {
    display: none; }
  .logo {
    display: none; }
  .info1 {
    display: none; }
  .info2 {
    display: none; } }

@media screen and (min-width: 961px) {
  .container .canvasbox {
    width: 360px;
    min-width: 360px;
    display: flex;
    justify-content: flex-end; } }
