body {
  min-height: 100vh;
  margin: 0;
  background-color: #1A2831; }

header .boximg {
  height: 220px;
  width: 100%;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center; }

.canvasbox {
  background-image: url(../img/background.svg);
  background-position: center; }

.logo {
  width: 100px;
  min-width: 100px;
  height: 600px;
  background-image: url(../img/background.svg);
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-right: 5px; }
  .logo div {
    height: 200px;
    padding-top: 10px;
    padding-left: 3px; }

@media screen and (max-width: 899px) {
  .canvasbox {
    background-position: center; }
  header {
    display: none; } }

@media screen and (max-width: 1379px) {
  .container {
    height: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; }
    .container .info1 {
      width: 0; }
    .container .canvasbox {
      width: 360px;
      min-width: 360px;
      display: flex;
      justify-content: flex-end; }
    .container .info2 {
      width: 0; } }

@media screen and (min-width: 1380px) {
  .container {
    height: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; }
    .container .info1 {
      height: 600px;
      width: 250px; }
    .container .fr-info-L {
      background-image: url(../img/test404-LEFT-FR.svg); }
    .container .nl-info-L {
      background-image: ""; }
    .container .nl-info-L {
      background-image: ""; }
    .container .canvasbox {
      width: 360px;
      min-width: 360px;
      display: flex;
      justify-content: flex-end; }
    .container .info2 {
      height: 600px;
      width: 250px; }
    .container .fr-info-R {
      background-image: url(../img/test404-RIGHT-FR.svg); }
    .container .nl-info-R {
      background-image: ""; }
    .container .en-info-R {
      background-image: ""; } }
